<div class="container">
  <div class="panel pull-right">
    <div class="panel-header">
      Wallet
    </div>
    <div class="coin" id="quarter">
      Quater
    </div>
    <div class="coin" id="nickel">
      nickel
    </div>
    <div class="coin" id="dime">
      Dime
    </div>
    <div class="coin" id="penny">
      Penny
    </div>
    <div class="coin" id="Zwei-Euro">
      Zwei Euro
    </div>
    <div class="coin" id="zwanzig">
      Zwanzig Cent Euro
    </div>
  </div>
</div>
