// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.items {
  width: 170px;
}

.coin {
  width: 170px;
  height: 150px;
}

.vending-item {
  height: 130px;
}

#quarter {
  height: 70px;
}

#nickel {
  height: 55px;
}

#dime {
  height: 44px;
}

#penny {
  height: 50px;
}

#zwei-euro {
  height: 75px;
}

#zwanzig {
  height: 65px;
}

#display {
  font-size: 70px;
}
